#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#screen {
  border-color: black;
  border-style: solid;
  grid-row: 0;
  text-align: right;
}

#clear {
  grid-row: 1;
  grid-column: 1 / 3;
}

#delete {
  grid-row: 1;
}

#add {
  grid-row: 1;
}

#subtract {
  grid-row: 2;
}

#multiply {
  grid-area: 3;
}

#divide {
  grid-row: 4;
}

#decimal {
  grid-area: 5;
  grid-column: 3;
}

#zero {
  grid-row: 5;
  grid-column: 2;
}

#one {
  grid-row: 4;
}

#two {
  grid-row: 4;
}

#three {
  grid-row: 4;
}

#four {
  grid-row: 3;
}

#five {
  grid-row: 3;
}

#six {
  grid-row: 3;
}

#seven {
  grid-row: 2;
}

#eight {
  grid-row: 2;
}

#nine {
  grid-row: 2;
}

#operator-buttons-container {
  display: flex;
  flex-direction: column;
  grid-column: 4;
  grid-row: 1 / 6;
}

.operator-button {
  margin-left: 1em;
  background-color: lightblue;
  border-color: blue;
}

#equal {
  margin-left: 1em;
  background-color: pink;
  border-color: red;
  grid-row: 5;
}